#backtitle{
    -fx-background-color: #202C3F;
    -fx-border-width: 0 0 0 2px;
    -fx-border-color: white;
    -fx-alignment: center;
    -fx-padding: 7px 0 7px 0;
}

#backtitle Label{
    -fx-text-fill: White;
}

#testid{
    -fx-padding: 5px 0 5px 0;
    -fx-border-insets: 5px 0 5px 0;
    -fx-background-insets: 5px 0 5px 0;
}

.changeviewbtns{
    -fx-background-color: #48C5EE;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-padding: 5px 0 5px 0;
}

.changeviewbtns:hover{
    -fx-cursor: hand;
    -fx-border-color: #202C3F;
    -fx-border-width: 1px 1px 1px 1px;
}

.signupdataentry{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: #202C3F;
}

#upload_data{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-color: #202C3F;
    -fx-background-color: #202C3F;
}
#upload_data:hover{
    -fx-cursor: hand;
}

.signupactionbtns{
    -fx-background-color: #202C3F;
    -fx-background-radius: 20px;
}

.signupactionbtns:hover{
    -fx-cursor: hand;
}